<h3>MY 講義一覧</h3>

<div><%= link_to '新規作成', new_lecture _path, class: 'btn btn-lg primary' %></div>

<table class="table table-hover" >
  <tr> <th class="text-center">講義名</th>
  
  </tr>
  
  <tr>
 <% @lectures.each do |lecture| %>
     <%= <li>lecture.name</li> %>
 <% end %>
  </tr>
 </table>
