<h2><u>コミュニティ一覧</u></h2>
</br>
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="card border-secondary mb-3">
           <div class="card-header text-center">新着情報</div>
           <div class="card-body">#</div>
         </div>
        </div>
        
      </div>
    </div>

 <div><%= link_to '新規作成', new_lecture_path, class: 'btn btn-primary' %></div>
 
　<table class="table table-striped table-bordered">
    　　<tr>
　　　   <th class="text-center thead-info">講義</th>
        </tr>
        
        <tr>
        <% @lectures.each do |lecture| %>
        <td><%= link_to lecture.id, lecture %>      <%= lecture.name %></td>
        </tr>
        <% end %>
  </table> 
