<h3>教授 講義一覧</h3>

<p><%= link_to '新規作成', new_lecture_path, class: 'btn btn-primary' %></p>
    <table class="table table-active">
    <tr>
     <td class="text-center">講義</td>
    </tr>
    </table>
    
    <table class="table table-hover">
    <tr>
     <% @lectures.each do |lecture| %>
        <td><%= lecture.name %>#</td>
        <td class="text-right"><%=link_to "確認", @lecture %>　　<%=link_to "投稿", new_posting_path %></td>
     </tr>
     <% end %>
  　</table>

