<table class="table">
    <tr>
     <th class="text-center">講義概要</th>
    </tr>
    
    <tr>
     <td>講義名</td>
     <td class="text-center"> <%= @lecture.name %></td>
    </tr>
    
    <tr>
     <td>タイトル</td>
     <td class="text-center"><%= @lecture.title %></td>
    </tr>
    
    <tr>
     <td>時間割</td>
     <td class="text-center"><%= @lecture.schedule %>限目</td>
    </tr>
    
    <tr>
     <td>備考</td>
     <td class="text-center"><%= @lecture.comment %></td>
    </tr>
    
</table>