<h1>ユーザーindex</h1>
<div class="nav-item"><%= link_to 'コミュニティーindx', lectures_path, class: 'nav-link' %></div>
<p><div class="nav-item"><%= link_to 'topページ', root_path, class: 'nav-link' %></div></p>


