<h1>講義<h1>
<h6>カレンダー載せる</h6>
<div class="nav-item"><%= link_to '講義indx', lectures_path, class: 'nav-link' %></div>
<p><div class="nav-item"><%= link_to 'topページ', root_path, class: 'nav-link' %></div></p>
