<h1>プロフィール</h1>
   <div class="container">
     <div class="row">
       <div class="col-md-5">
         <div class="card border-secondary mb-3">
           <div class="card-header text-center"><%= current_user.name %></div>
           <div class="card-body"> 写真 by gravatar</div>
         </div>
        </div>
        
          <div class="col-md-7">
            <div class="card border-secondary mb-3">
              <div class="card-header text-center">profile</div>
              <div class="card-body">テキスト機能を作る</div>
            </div>
          </div>
      </div>
    </div>

</br>

<table class="table table-hover table-striped">
  <tr> <th class="text-center" "table-info">bookmark</th>
  </tr>
  
  <tr>
    <td>bookmarkの一覧表を作成</td>
  </tr>
</table>
  
  
 
