<div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to the Attend</h1>
    <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
  </div>
</div>