 <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Attend</h1>
      <h6>サインアップしてください</h6>
      <%= link_to '学生', signup_path, class: 'btn btn-lg btn-dark' %>
    </div>
 </div>
 
 <img src ="" class="img-fluid" alt="画像">  
   
<div class ="py-4 bg-light">
  <div class = container>
 <h3>attendとは</h3>
 <div>大学生達がコミュニティーを作れるWEBサービスです。コロナの現状ではリモート授業や少人数授業、サークル活動の自粛などで学生同士でなかなか触れ合う機会が少なくなってしました。
 Attendでは学生一人、一人がコミュニーティーを作ることができ、学生同士でコミュニケーションや授業のディスカッション、同じ講義や趣味の人でグループを作ることがかのうです</div>
  </div> 
</div>   


<div class ="py-4 bg-dark">
 <div class="container">
  <div class="row">
   <div class="col-md-12">
    <div class = "text-white"><h3>大学生活でこんな悩みありませんか？<h3></div>
    <div class="card text-white bg-dark border-secondary mb-3">
      <div class="card-body">悩み１</br>・コロナでリモートで授業を受けていたので、同学年の人と触れ合う機会がない</div>
    </div>
         
    <div class="card text-white bg-dark border-secondary mb-3">
      <div class="card-body">悩み２</br>・講義で分からないところがあったっけど、教授には直接聞きにくいし、同じ講義とってる人の中で知り合いがいないので聞きづらい．．</br>・講義を風邪や就職活動で休んでしまった。ノートが内容を知りたいけど聞きずらい．．
        </div>
    </div>
     
    <div class="card text-white bg-dark border-secondary mb-3">
      <div class="card-body">悩み３</br>・テニスが好きで、大学内ではテニスが好きな人と繋がりたい</br>・サークルでサークル外の人に告知をしたいけどどうしたらいいかわからない．．</div>
     </div>
   </div>
  </div>
 </div>
</div>


<div class ="py-4 bg-light">
  <div class = container>
    <div class = "text-center"><u><h4>Attendなら多くの学生が参加してるので、自分が受けている授業や自分に合う趣味の</br>コミュニティーを見つけたり、自分で作ることができるので問題が解決することができます！！</h4></u><div>
  </div> 
</div>   

 <div class="center jumbotron">
    <div class="text-center">
      <h3><strong>さあ、皆で楽しい大学生活を過ごしましょう！！</strong></h3>    
      <h6>サインアップはこちらから</h6>
      <%= link_to 'signup', signup_path, class: 'btn btn-lg btn-dark' %>
    </div>
 </div>
